* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v133_496 {
  width: 100%;
  height: 2513px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_497 {
  width: 100%;
  height: 137px;
  background: url("../images/v133_497.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 53px;
  overflow: hidden;
}
.v133_498 {
  width: 271px;
  height: 129px;
  background: url("../images/v133_498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v133_499 {
  width: 271px;
  height: 119px;
  background: url("../images/v133_499.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.v133_501 {
  width: 3px;
  height: 121px;
  background: rgba(0,128,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 312px;
  overflow: hidden;
}
.v133_502 {
  width: 100%;
  height: 46px;
  background: linear-gradient(rgba(0,128,0,1), rgba(67,152,67,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 313px;
  overflow: hidden;
}
.v133_503 {
  width: 100%;
  height: 42px;
  background: url("../images/v133_503.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 291px;
  overflow: hidden;
}
.v133_504 {
  width: 134px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 85px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v133_505 {
  width: 115px;
  height: 19px;
  background: url("../images/v133_505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 398px;
  overflow: hidden;
}
.v133_506 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v133_507 {
  width: 165px;
  height: 19px;
  background: url("../images/v133_507.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 677px;
  overflow: hidden;
}
.v133_508 {
  width: 165px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v133_509 {
  width: 228px;
  height: 40px;
  background: url("../images/v133_509.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 912px;
  overflow: hidden;
}
.v133_510 {
  width: 146px;
  height: 40px;
  background: url("../images/v133_510.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 82px;
  overflow: hidden;
}
.v133_511 {
  width: 146px;
  height: 40px;
  background: url("../images/v133_511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_512 {
  width: 156px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 114px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v133_513 {
  width: 993px;
  height: 68px;
  background: url("../images/v133_513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 271px;
  overflow: hidden;
}
.v133_514 {
  width: 128px;
  height: 68px;
  background: url("../images/v133_514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v133_515 {
  width: 76px;
  height: 19px;
  background: url("../images/v133_515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v133_516 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v133_517 {
  width: 123px;
  height: 68px;
  background: url("../images/v133_517.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 153px;
  overflow: hidden;
}
.v133_518 {
  width: 71px;
  height: 19px;
  background: url("../images/v133_518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v133_519 {
  width: 71px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v133_520 {
  width: 147px;
  height: 68px;
  background: url("../images/v133_520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 276px;
  overflow: hidden;
}
.v133_521 {
  width: 95px;
  height: 19px;
  background: url("../images/v133_521.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v133_522 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v133_523 {
  width: 196px;
  height: 68px;
  background: url("../images/v133_523.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 423px;
  overflow: hidden;
}
.v133_524 {
  width: 144px;
  height: 19px;
  background: url("../images/v133_524.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v133_525 {
  width: 144px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v133_526 {
  width: 105px;
  height: 68px;
  background: url("../images/v133_526.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 619px;
  overflow: hidden;
}
.v133_527 {
  width: 53px;
  height: 19px;
  background: url("../images/v133_527.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v133_528 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v133_529 {
  width: 165px;
  height: 68px;
  background: url("../images/v133_529.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 725px;
  overflow: hidden;
}
.v133_530 {
  width: 113px;
  height: 19px;
  background: url("../images/v133_530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v133_531 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v133_532 {
  width: 102px;
  height: 68px;
  background: url("../images/v133_532.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 890px;
  overflow: hidden;
}
.v133_533 {
  width: 50px;
  height: 19px;
  background: url("../images/v133_533.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v133_534 {
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v133_536 {
  width: 131px;
  height: 28px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 1572px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v133_537 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 21px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v133_538 {
  width: 104px;
  height: 28px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 1708px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v133_539 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 21px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v133_540 {
  width: 100%;
  height: 2004px;
  background: url("../images/v133_540.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 0px;
  overflow: hidden;
}
.v133_541 {
  width: 354px;
  height: 48px;
  background: rgba(0,128,0,1);
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 207px;
  overflow: hidden;
}
.v133_542 {
  width: 161px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 14px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v133_543 {
  width: 354px;
  height: 329px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 207px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0.8666666746139526, 0.8666666746139526, 0.8666666746139526, 1);
  overflow: hidden;
}
.v133_544 {
  width: 336px;
  height: 50px;
  background: url("../images/v133_544.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 9px;
  overflow: hidden;
}
.v133_545 {
  width: 325px;
  height: 42px;
  background: url("../images/v133_545.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v133_546 {
  width: 326px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v133_547 {
  width: 336px;
  height: 235px;
  background: url("../images/v133_547.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
  overflow: hidden;
}
.v133_548 {
  width: 336px;
  height: 235px;
  background: url("../images/v133_548.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_549 {
  width: 100%;
  height: 46px;
  background: url("../images/v133_549.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 591px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v133_550 {
  width: 51px;
  height: 17px;
  background: url("../images/v133_550.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 16px;
  overflow: hidden;
}
.v133_551 {
  width: 52px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_552 {
  width: 126px;
  height: 22px;
  background: url("../images/v133_552.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 67px;
  overflow: hidden;
}
.v133_553 {
  width: 4px;
  color: rgba(108,117,125,1);
  position: absolute;
  top: 0px;
  left: 8px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_554 {
  width: 106px;
  color: rgba(34,126,34,1);
  position: absolute;
  top: 2px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_555 {
  width: 198px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 1514px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v133_556 {
  width: 178px;
  height: 24px;
  background: url("../images/v133_556.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 10px;
  overflow: hidden;
}
.v133_557 {
  width: 106px;
  color: rgba(108,117,125,1);
  position: absolute;
  top: 5px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v133_558 {
  width: 15px;
  height: 15px;
  background: url("../images/v133_558.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 1688px;
  overflow: hidden;
}
.v133_559 {
  width: 14px;
  height: 15px;
  background: rgba(33,37,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v133_560 {
  width: 829px;
  height: 25px;
  background: url("../images/v133_560.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 883px;
  overflow: hidden;
}
.v133_561 {
  width: 781px;
  height: 22px;
  background: url("../images/v133_561.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v133_562 {
  width: 782px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v133_563 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 180px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_564 {
  width: 829px;
  height: 45px;
  background: url("../images/v133_564.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 883px;
  overflow: hidden;
}
.v133_565 {
  width: 817px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_566 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_566.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 591px;
  overflow: hidden;
}
.v133_567 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_567.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_568 {
  width: 829px;
  height: 25px;
  background: url("../images/v133_568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 411px;
  left: 883px;
  overflow: hidden;
}
.v133_569 {
  width: 606px;
  height: 22px;
  background: url("../images/v133_569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v133_570 {
  width: 607px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v133_571 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 446px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_572 {
  width: 829px;
  height: 45px;
  background: url("../images/v133_572.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 478px;
  left: 883px;
  overflow: hidden;
}
.v133_573 {
  width: 810px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_574 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_574.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 411px;
  left: 591px;
  overflow: hidden;
}
.v133_575 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_575.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_576 {
  width: 829px;
  height: 50px;
  background: url("../images/v133_576.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 883px;
  overflow: hidden;
}
.v133_577 {
  width: 824px;
  height: 47px;
  background: url("../images/v133_577.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v133_578 {
  width: 989px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v133_579 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 736px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_580 {
  width: 829px;
  height: 67px;
  background: url("../images/v133_580.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 883px;
  overflow: hidden;
}
.v133_581 {
  width: 809px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_582 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_582.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 591px;
  overflow: hidden;
}
.v133_583 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_583.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_584 {
  width: 829px;
  height: 50px;
  background: url("../images/v133_584.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 942px;
  left: 883px;
  overflow: hidden;
}
.v133_585 {
  width: 824px;
  height: 47px;
  background: url("../images/v133_585.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v133_586 {
  width: 989px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v133_587 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 1002px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_588 {
  width: 829px;
  height: 45px;
  background: url("../images/v133_588.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1034px;
  left: 883px;
  overflow: hidden;
}
.v133_589 {
  width: 818px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_590 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_590.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 942px;
  left: 591px;
  overflow: hidden;
}
.v133_591 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_591.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_592 {
  width: 829px;
  height: 50px;
  background: url("../images/v133_592.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1207px;
  left: 883px;
  overflow: hidden;
}
.v133_593 {
  width: 827px;
  height: 47px;
  background: url("../images/v133_593.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v133_594 {
  width: 992px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v133_595 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 1267px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_596 {
  width: 829px;
  height: 45px;
  background: url("../images/v133_596.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1300px;
  left: 883px;
  overflow: hidden;
}
.v133_597 {
  width: 828px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_598 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_598.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1207px;
  left: 591px;
  overflow: hidden;
}
.v133_599 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_599.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_600 {
  width: 829px;
  height: 50px;
  background: url("../images/v133_600.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1473px;
  left: 883px;
  overflow: hidden;
}
.v133_601 {
  width: 820px;
  height: 47px;
  background: url("../images/v133_601.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v133_602 {
  width: 984px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v133_603 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 1533px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_604 {
  width: 829px;
  height: 45px;
  background: url("../images/v133_604.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1566px;
  left: 883px;
  overflow: hidden;
}
.v133_605 {
  width: 821px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_606 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_606.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1473px;
  left: 591px;
  overflow: hidden;
}
.v133_607 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_607.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_608 {
  width: 829px;
  height: 25px;
  background: url("../images/v133_608.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1739px;
  left: 883px;
  overflow: hidden;
}
.v133_609 {
  width: 454px;
  height: 22px;
  background: url("../images/v133_609.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v133_610 {
  width: 454px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v133_611 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 1774px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_612 {
  width: 829px;
  height: 22px;
  background: url("../images/v133_612.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1806px;
  left: 883px;
  overflow: hidden;
}
.v133_613 {
  width: 295px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_614 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_614.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1739px;
  left: 591px;
  overflow: hidden;
}
.v133_615 {
  width: 272px;
  height: 235px;
  background: url("../images/v133_615.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_616 {
  width: 100%;
  height: 370px;
  background: url("../images/v133_616.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2142px;
  left: 0px;
  overflow: hidden;
}
.v133_617 {
  width: 512px;
  height: 257px;
  background: url("../images/v133_617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 192px;
  overflow: hidden;
}
.v133_618 {
  width: 250px;
  height: 109px;
  background: url("../images/v133_618.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
  overflow: hidden;
}
.v133_619 {
  width: 482px;
  height: 130px;
  background: url("../images/v133_619.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 15px;
  overflow: hidden;
}
.v133_620 {
  width: 482px;
  height: 38px;
  background: rgba(0,0,0,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v133_621 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 19px;
  font-family: Open Sans;
  font-weight: Italic;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v133_622 {
  width: 482px;
  height: 38px;
  background: rgba(0,0,0,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v133_623 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 19px;
  font-family: Open Sans;
  font-weight: Italic;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v133_624 {
  width: 482px;
  height: 38px;
  background: rgba(0,0,0,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 0px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v133_625 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 19px;
  font-family: Open Sans;
  font-weight: Italic;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v133_626 {
  width: 470px;
  height: 180px;
  background: url("../images/v133_626.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 731px;
  overflow: hidden;
}
.v133_627 {
  width: 470px;
  height: 49px;
  background: url("../images/v133_627.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_628 {
  width: 55px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v133_629 {
  width: 429px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v133_630 {
  width: 470px;
  height: 49px;
  background: url("../images/v133_630.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 0px;
  overflow: hidden;
}
.v133_631 {
  width: 56px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v133_632 {
  width: 92px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v133_633 {
  width: 470px;
  height: 49px;
  background: url("../images/v133_633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 0px;
  overflow: hidden;
}
.v133_634 {
  width: 51px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v133_635 {
  width: 174px;
  height: 15px;
  background: url("../images/v133_635.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  overflow: hidden;
}
.v133_636 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v133_637 {
  width: 65px;
  height: 28px;
  background: url("../images/v133_637.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 731px;
  overflow: hidden;
}
.v133_638 {
  width: 66px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v133_639 {
  width: 470px;
  height: 250px;
  background: rgba(128,128,128,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 1243px;
  overflow: hidden;
}
.v133_640 {
  width: 470px;
  height: 250px;
  background: rgba(229,227,223,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_641 {
  width: 256px;
  height: 256px;
  background: url("../images/v133_641.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 253px;
  overflow: hidden;
}
.v133_642 {
  width: 256px;
  height: 256px;
  background: url("../images/v133_642.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 3px;
  overflow: hidden;
}
.v133_643 {
  width: 256px;
  height: 256px;
  background: url("../images/v133_643.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 259px;
  overflow: hidden;
}
.v133_644 {
  width: 256px;
  height: 256px;
  background: url("../images/v133_644.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 253px;
  overflow: hidden;
}
.v133_645 {
  width: 256px;
  height: 256px;
  background: url("../images/v133_645.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 3px;
  overflow: hidden;
}
.v133_646 {
  width: 256px;
  height: 256px;
  background: url("../images/v133_646.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 259px;
  overflow: hidden;
}
.v133_647 {
  width: 272px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v133_648 {
  width: 219px;
  height: 16px;
  background: url("../images/v133_648.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v133_649 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v133_650 {
  width: 106px;
  height: 14px;
  background: url("../images/v133_650.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 12px;
  overflow: hidden;
}
.v133_651 {
  width: 106px;
  color: rgba(26,115,232,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v133_652 {
  width: 40px;
  height: 81px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 420px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v133_653 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_654 {
  width: 28px;
  height: 28px;
  background: url("../images/v133_654.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
  overflow: hidden;
}
.v133_655 {
  width: 28px;
  height: 28px;
  background: url("../images/v133_655.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_656 {
  width: 28px;
  height: 28px;
  background: url("../images/v133_656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_657 {
  width: 16px;
  height: 16px;
  background: rgba(102,102,102,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
}
.v133_658 {
  width: 30px;
  height: 1px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 5px;
  overflow: hidden;
}
.v133_659 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 0px;
  overflow: hidden;
}
.v133_660 {
  width: 28px;
  height: 28px;
  background: url("../images/v133_660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
  overflow: hidden;
}
.v133_661 {
  width: 28px;
  height: 28px;
  background: url("../images/v133_661.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_662 {
  width: 28px;
  height: 28px;
  background: url("../images/v133_662.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_663 {
  width: 16px;
  height: 2px;
  background: rgba(102,102,102,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 5px;
}
.v133_664 {
  width: 52px;
  height: 21px;
  background: url("../images/v133_664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 209px;
  overflow: hidden;
}
.v133_665 {
  width: 52px;
  height: 21px;
  background: url("../images/v133_665.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_666 {
  width: 52px;
  height: 21px;
  background: url("../images/v133_666.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v133_667 {
  width: 47px;
  height: 15px;
  background: url("../images/v133_667.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.6000000238418579;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v133_668 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.1304347515106201px solid rgba(255,255,255,1);
}
.v133_669 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 12px;
  border: 1.1304347515106201px solid rgba(255,255,255,1);
}
.v133_670 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 20px;
  border: 1.1304347515106201px solid rgba(255,255,255,1);
}
.v133_671 {
  width: 11px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
  border: 1.1304347515106201px solid rgba(255,255,255,1);
}
.v133_672 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 39px;
  border: 1.1304347515106201px solid rgba(255,255,255,1);
}
.v133_673 {
  width: 11px;
  height: 11px;
  background: rgba(66,133,244,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
}
.v133_674 {
  width: 7px;
  height: 7px;
  background: rgba(233,66,53,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 15px;
}
.v133_675 {
  width: 7px;
  height: 7px;
  background: rgba(250,187,5,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 23px;
}
.v133_676 {
  width: 7px;
  height: 10px;
  background: rgba(66,133,244,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 31px;
}
.v133_677 {
  width: 1px;
  height: 10px;
  background: rgba(52,168,83,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 39px;
}
.v133_678 {
  width: 6px;
  height: 7px;
  background: rgba(233,66,53,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 42px;
}
.v133_679 {
  width: 42px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v133_680 {
  width: 38px;
  height: 38px;
  background: rgba(229,227,223,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v133_681 {
  width: 256px;
  height: 256px;
  background: url("../images/v133_681.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 170px;
  overflow: hidden;
}
.v133_682 {
  width: 113px;
  height: 14px;
  background: rgba(245,245,245,1);
  opacity: 0.699999988079071;
  position: absolute;
  top: 236px;
  left: 356px;
  overflow: hidden;
}
.v133_683 {
  width: 102px;
  height: 11px;
  background: url("../images/v133_683.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 237px;
  left: 361px;
  overflow: hidden;
}
.v133_684 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: right;
}
.v133_685 {
  width: 48px;
  height: 14px;
  background: rgba(245,245,245,1);
  opacity: 0.699999988079071;
  position: absolute;
  top: 236px;
  left: 136px;
  overflow: hidden;
}
.v133_686 {
  width: 37px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 236px;
  left: 141px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v133_687 {
  width: 107px;
  height: 14px;
  background: rgba(245,245,245,1);
  opacity: 0.699999988079071;
  position: absolute;
  top: 236px;
  left: 185px;
  overflow: hidden;
}
.v133_688 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 237px;
  left: 190px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: right;
}
.v133_689 {
  width: 60px;
  height: 14px;
  background: rgba(245,245,245,1);
  opacity: 0.699999988079071;
  position: absolute;
  top: 236px;
  left: 294px;
  overflow: hidden;
}
.v133_690 {
  width: 49px;
  height: 11px;
  background: url("../images/v133_690.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 237px;
  left: 299px;
  overflow: hidden;
}
.v133_691 {
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: right;
}
.v133_692 {
  width: 100%;
  height: 72px;
  background: linear-gradient(rgba(0,128,0,1), rgba(67,152,67,1));
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 0px;
  overflow: hidden;
}
.v133_693 {
  width: 146px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 207px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v133_694 {
  width: 206px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 353px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v133_695 {
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 558px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v133_696 {
  width: 48px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 708px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v133_697 {
  width: 36px;
  height: 22px;
  background: url("../images/v133_697.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2458px;
  left: 1653px;
  overflow: hidden;
}
.v133_698 {
  width: 36px;
  height: 8px;
  background: url("../images/v133_698.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  overflow: hidden;
}
.v133_699 {
  width: 5px;
  height: 6px;
  background: rgba(0,128,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
}
