* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v101_387 {
  width: 100%;
  height: 3384px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_388 {
  width: 100%;
  height: 137px;
  background: url("../images/v101_388.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 53px;
  overflow: hidden;
}
.v101_389 {
  width: 271px;
  height: 129px;
  background: url("../images/v101_389.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v101_390 {
  width: 271px;
  height: 119px;
  background: url("../images/v101_390.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.v101_391 {
  width: 3px;
  height: 121px;
  background: rgba(0,128,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 312px;
  overflow: hidden;
}
.v101_392 {
  width: 100%;
  height: 46px;
  background: linear-gradient(rgba(0,128,0,1), rgba(67,152,67,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 313px;
  overflow: hidden;
}
.v101_393 {
  width: 100%;
  height: 42px;
  background: url("../images/v101_393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 291px;
  overflow: hidden;
}
.v101_394 {
  width: 134px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 85px;
  font-family: Open Sans;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v101_395 {
  width: 115px;
  height: 19px;
  background: url("../images/v101_395.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 398px;
  overflow: hidden;
}
.v101_396 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v101_397 {
  width: 165px;
  height: 19px;
  background: url("../images/v101_397.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 677px;
  overflow: hidden;
}
.v101_398 {
  width: 165px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v101_399 {
  width: 228px;
  height: 40px;
  background: url("../images/v101_399.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 912px;
  overflow: hidden;
}
.v101_400 {
  width: 146px;
  height: 40px;
  background: url("../images/v101_400.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 82px;
  overflow: hidden;
}
.v101_401 {
  width: 146px;
  height: 40px;
  background: url("../images/v101_401.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_402 {
  width: 156px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 114px;
  font-family: Open Sans;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v101_403 {
  width: 993px;
  height: 68px;
  background: url("../images/v101_403.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 271px;
  overflow: hidden;
}
.v101_404 {
  width: 128px;
  height: 68px;
  background: url("../images/v101_404.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v101_405 {
  width: 76px;
  height: 19px;
  background: url("../images/v101_405.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v101_406 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v101_407 {
  width: 123px;
  height: 68px;
  background: url("../images/v101_407.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 153px;
  overflow: hidden;
}
.v101_408 {
  width: 71px;
  height: 19px;
  background: url("../images/v101_408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v101_409 {
  width: 71px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v101_410 {
  width: 147px;
  height: 68px;
  background: url("../images/v101_410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 276px;
  overflow: hidden;
}
.v101_411 {
  width: 95px;
  height: 19px;
  background: url("../images/v101_411.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v101_412 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v101_413 {
  width: 196px;
  height: 68px;
  background: url("../images/v101_413.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 423px;
  overflow: hidden;
}
.v101_414 {
  width: 144px;
  height: 19px;
  background: url("../images/v101_414.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v101_415 {
  width: 144px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v101_416 {
  width: 105px;
  height: 68px;
  background: url("../images/v101_416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 619px;
  overflow: hidden;
}
.v101_417 {
  width: 53px;
  height: 19px;
  background: url("../images/v101_417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v101_418 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v101_419 {
  width: 165px;
  height: 68px;
  background: url("../images/v101_419.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 725px;
  overflow: hidden;
}
.v101_420 {
  width: 113px;
  height: 19px;
  background: url("../images/v101_420.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v101_421 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v101_422 {
  width: 102px;
  height: 68px;
  background: url("../images/v101_422.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 890px;
  overflow: hidden;
}
.v101_423 {
  width: 50px;
  height: 19px;
  background: url("../images/v101_423.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 26px;
  overflow: hidden;
}
.v101_424 {
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v101_425 {
  width: 131px;
  height: 28px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 1572px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v101_426 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 21px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v101_427 {
  width: 104px;
  height: 28px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 1708px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v101_428 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 21px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v101_429 {
  width: 100%;
  height: 2876px;
  background: url("../images/v101_429.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 0px;
  overflow: hidden;
}
.v101_430 {
  width: 354px;
  height: 48px;
  background: rgba(0,128,0,1);
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 207px;
  overflow: hidden;
}
.v101_431 {
  width: 161px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 14px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v101_432 {
  width: 354px;
  height: 329px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 207px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0.8666666746139526, 0.8666666746139526, 0.8666666746139526, 1);
  overflow: hidden;
}
.v101_433 {
  width: 336px;
  height: 50px;
  background: url("../images/v101_433.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 9px;
  overflow: hidden;
}
.v101_434 {
  width: 335px;
  height: 42px;
  background: url("../images/v101_434.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v101_435 {
  width: 336px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v101_436 {
  width: 336px;
  height: 235px;
  background: url("../images/v101_436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
  overflow: hidden;
}
.v101_437 {
  width: 336px;
  height: 235px;
  background: url("../images/v101_437.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_438 {
  width: 100%;
  height: 46px;
  background: url("../images/v101_438.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 591px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v101_439 {
  width: 44px;
  height: 17px;
  background: url("../images/v101_439.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 16px;
  overflow: hidden;
}
.v101_440 {
  width: 46px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_441 {
  width: 136px;
  height: 22px;
  background: url("../images/v101_441.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 60px;
  overflow: hidden;
}
.v101_442 {
  width: 4px;
  color: rgba(108,117,125,1);
  position: absolute;
  top: 0px;
  left: 8px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_443 {
  width: 116px;
  color: rgba(34,126,34,1);
  position: absolute;
  top: 2px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_444 {
  width: 198px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 1514px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v101_445 {
  width: 178px;
  height: 24px;
  background: url("../images/v101_445.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 10px;
  overflow: hidden;
}
.v101_446 {
  width: 106px;
  color: rgba(108,117,125,1);
  position: absolute;
  top: 5px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v101_447 {
  width: 15px;
  height: 15px;
  background: url("../images/v101_447.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 1688px;
  overflow: hidden;
}
.v101_448 {
  width: 14px;
  height: 15px;
  background: rgba(33,37,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v101_449 {
  width: 829px;
  height: 50px;
  background: url("../images/v101_449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 883px;
  overflow: hidden;
}
.v101_450 {
  width: 823px;
  height: 47px;
  background: url("../images/v101_450.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v101_451 {
  width: 988px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v101_452 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 205px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_453 {
  width: 829px;
  height: 67px;
  background: url("../images/v101_453.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 238px;
  left: 883px;
  overflow: hidden;
}
.v101_454 {
  width: 819px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_455 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_455.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 591px;
  overflow: hidden;
}
.v101_456 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_456.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_457 {
  width: 829px;
  height: 25px;
  background: url("../images/v101_457.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 411px;
  left: 883px;
  overflow: hidden;
}
.v101_458 {
  width: 150px;
  height: 22px;
  background: url("../images/v101_458.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v101_459 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v101_460 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 446px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_461 {
  width: 829px;
  height: 22px;
  background: url("../images/v101_461.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 478px;
  left: 883px;
  overflow: hidden;
}
.v101_462 {
  width: 111px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_463 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_463.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 411px;
  left: 591px;
  overflow: hidden;
}
.v101_464 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_465 {
  width: 829px;
  height: 50px;
  background: url("../images/v101_465.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 883px;
  overflow: hidden;
}
.v101_466 {
  width: 802px;
  height: 47px;
  background: url("../images/v101_466.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v101_467 {
  width: 963px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v101_468 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 736px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_469 {
  width: 829px;
  height: 22px;
  background: url("../images/v101_469.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 883px;
  overflow: hidden;
}
.v101_470 {
  width: 821px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_471 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_471.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 591px;
  overflow: hidden;
}
.v101_472 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_472.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_473 {
  width: 829px;
  height: 25px;
  background: url("../images/v101_473.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 942px;
  left: 883px;
  overflow: hidden;
}
.v101_474 {
  width: 562px;
  height: 22px;
  background: url("../images/v101_474.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v101_475 {
  width: 562px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v101_476 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 977px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_477 {
  width: 829px;
  height: 45px;
  background: url("../images/v101_477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1009px;
  left: 883px;
  overflow: hidden;
}
.v101_478 {
  width: 818px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_479 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 942px;
  left: 591px;
  overflow: hidden;
}
.v101_480 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_480.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_481 {
  width: 829px;
  height: 25px;
  background: url("../images/v101_481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1207px;
  left: 883px;
  overflow: hidden;
}
.v101_482 {
  width: 268px;
  height: 22px;
  background: url("../images/v101_482.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v101_483 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v101_484 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 1242px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_485 {
  width: 829px;
  height: 45px;
  background: url("../images/v101_485.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1275px;
  left: 883px;
  overflow: hidden;
}
.v101_486 {
  width: 821px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_487 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1207px;
  left: 591px;
  overflow: hidden;
}
.v101_488 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_489 {
  width: 829px;
  height: 25px;
  background: url("../images/v101_489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1473px;
  left: 883px;
  overflow: hidden;
}
.v101_490 {
  width: 457px;
  height: 22px;
  background: url("../images/v101_490.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v101_491 {
  width: 458px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v101_492 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 1508px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_493 {
  width: 829px;
  height: 22px;
  background: url("../images/v101_493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1541px;
  left: 883px;
  overflow: hidden;
}
.v101_494 {
  width: 602px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_495 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_495.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1473px;
  left: 591px;
  overflow: hidden;
}
.v101_496 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_496.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_497 {
  width: 829px;
  height: 25px;
  background: url("../images/v101_497.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1739px;
  left: 883px;
  overflow: hidden;
}
.v101_498 {
  width: 563px;
  height: 22px;
  background: url("../images/v101_498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v101_499 {
  width: 564px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v101_500 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 1774px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_501 {
  width: 829px;
  height: 22px;
  background: url("../images/v101_501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1806px;
  left: 883px;
  overflow: hidden;
}
.v101_502 {
  width: 761px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_503 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_503.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1739px;
  left: 591px;
  overflow: hidden;
}
.v101_504 {
  width: 272px;
  height: 235px;
  background: url("../images/v101_504.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_505 {
  width: 829px;
  height: 25px;
  background: url("../images/v101_505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2004px;
  left: 883px;
  overflow: hidden;
}
.v101_506 {
  width: 652px;
  height: 22px;
  background: url("../images/v101_506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v101_507 {
  width: 653px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v101_508 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 2039px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_509 {
  width: 829px;
  height: 22px;
  background: url("../images/v101_509.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2072px;
  left: 883px;
  overflow: hidden;
}
.v101_510 {
  width: 731px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_511 {
  width: 829px;
  height: 25px;
  background: url("../images/v101_511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2270px;
  left: 883px;
  overflow: hidden;
}
.v101_512 {
  width: 559px;
  height: 22px;
  background: url("../images/v101_512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v101_513 {
  width: 559px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v101_514 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 2305px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_515 {
  width: 829px;
  height: 45px;
  background: url("../images/v101_515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2337px;
  left: 883px;
  overflow: hidden;
}
.v101_516 {
  width: 815px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_517 {
  width: 829px;
  height: 50px;
  background: url("../images/v101_517.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2535px;
  left: 883px;
  overflow: hidden;
}
.v101_518 {
  width: 816px;
  height: 47px;
  background: url("../images/v101_518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v101_519 {
  width: 816px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v101_520 {
  width: 118px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 2595px;
  left: 883px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_521 {
  width: 829px;
  height: 45px;
  background: url("../images/v101_521.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2628px;
  left: 883px;
  overflow: hidden;
}
.v101_522 {
  width: 825px;
  color: rgba(33,37,41,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_523 {
  width: 100%;
  height: 35px;
  background: url("../images/v101_523.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2821px;
  left: 591px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v101_524 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 902px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v101_525 {
  width: 8px;
  height: 17px;
  background: url("../images/v101_525.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 13px;
  overflow: hidden;
}
.v101_526 {
  width: 6px;
  height: 10px;
  background: rgba(90,90,90,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v101_527 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 992px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v101_528 {
  width: 8px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v101_529 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1037px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v101_530 {
  width: 8px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v101_531 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1082px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v101_532 {
  width: 8px;
  height: 17px;
  background: url("../images/v101_532.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 13px;
  overflow: hidden;
}
.v101_533 {
  width: 6px;
  height: 10px;
  background: rgba(90,90,90,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v101_534 {
  width: 35px;
  height: 35px;
  background: rgba(32,168,216,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 947px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v101_535 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 13px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v101_536 {
  width: 100%;
  height: 370px;
  background: url("../images/v101_536.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3014px;
  left: 0px;
  overflow: hidden;
}
.v101_537 {
  width: 512px;
  height: 257px;
  background: url("../images/v101_537.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 192px;
  overflow: hidden;
}
.v101_538 {
  width: 250px;
  height: 109px;
  background: url("../images/v101_538.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
  overflow: hidden;
}
.v101_539 {
  width: 482px;
  height: 130px;
  background: url("../images/v101_539.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 15px;
  overflow: hidden;
}
.v101_540 {
  width: 482px;
  height: 38px;
  background: rgba(0,0,0,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v101_541 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 19px;
  font-family: Open Sans;
  font-weight: Italic;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v101_542 {
  width: 482px;
  height: 38px;
  background: rgba(0,0,0,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v101_543 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 19px;
  font-family: Open Sans;
  font-weight: Italic;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v101_544 {
  width: 482px;
  height: 38px;
  background: rgba(0,0,0,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 0px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v101_545 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 19px;
  font-family: Open Sans;
  font-weight: Italic;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v101_546 {
  width: 470px;
  height: 180px;
  background: url("../images/v101_546.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 731px;
  overflow: hidden;
}
.v101_547 {
  width: 470px;
  height: 49px;
  background: url("../images/v101_547.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_548 {
  width: 55px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v101_549 {
  width: 429px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v101_550 {
  width: 470px;
  height: 49px;
  background: url("../images/v101_550.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 0px;
  overflow: hidden;
}
.v101_551 {
  width: 56px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v101_552 {
  width: 92px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 28px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v101_553 {
  width: 470px;
  height: 49px;
  background: url("../images/v101_553.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 0px;
  overflow: hidden;
}
.v101_554 {
  width: 51px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v101_555 {
  width: 174px;
  height: 15px;
  background: url("../images/v101_555.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  overflow: hidden;
}
.v101_556 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v101_557 {
  width: 65px;
  height: 28px;
  background: url("../images/v101_557.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 731px;
  overflow: hidden;
}
.v101_558 {
  width: 66px;
  color: rgba(0,128,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v101_559 {
  width: 470px;
  height: 250px;
  background: rgba(128,128,128,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 1243px;
  overflow: hidden;
}
.v101_560 {
  width: 470px;
  height: 250px;
  background: rgba(229,227,223,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_561 {
  width: 256px;
  height: 256px;
  background: url("../images/v101_561.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 259px;
  overflow: hidden;
}
.v101_562 {
  width: 256px;
  height: 256px;
  background: url("../images/v101_562.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 3px;
  overflow: hidden;
}
.v101_563 {
  width: 256px;
  height: 256px;
  background: url("../images/v101_563.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 259px;
  overflow: hidden;
}
.v101_564 {
  width: 256px;
  height: 256px;
  background: url("../images/v101_564.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 3px;
  overflow: hidden;
}
.v101_565 {
  width: 256px;
  height: 256px;
  background: url("../images/v101_565.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 253px;
  overflow: hidden;
}
.v101_566 {
  width: 256px;
  height: 256px;
  background: url("../images/v101_566.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 253px;
  overflow: hidden;
}
.v101_567 {
  width: 272px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v101_568 {
  width: 219px;
  height: 16px;
  background: url("../images/v101_568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v101_569 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v101_570 {
  width: 106px;
  height: 14px;
  background: url("../images/v101_570.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 12px;
  overflow: hidden;
}
.v101_571 {
  width: 106px;
  color: rgba(26,115,232,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v101_572 {
  width: 40px;
  height: 81px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 420px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v101_573 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_574 {
  width: 28px;
  height: 28px;
  background: url("../images/v101_574.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
  overflow: hidden;
}
.v101_575 {
  width: 28px;
  height: 28px;
  background: url("../images/v101_575.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_576 {
  width: 28px;
  height: 28px;
  background: url("../images/v101_576.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_577 {
  width: 16px;
  height: 16px;
  background: rgba(102,102,102,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
}
.v101_578 {
  width: 30px;
  height: 1px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 5px;
  overflow: hidden;
}
.v101_579 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 0px;
  overflow: hidden;
}
.v101_580 {
  width: 28px;
  height: 28px;
  background: url("../images/v101_580.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
  overflow: hidden;
}
.v101_581 {
  width: 28px;
  height: 28px;
  background: url("../images/v101_581.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_582 {
  width: 28px;
  height: 28px;
  background: url("../images/v101_582.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_583 {
  width: 16px;
  height: 2px;
  background: rgba(102,102,102,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 5px;
}
.v101_584 {
  width: 52px;
  height: 21px;
  background: url("../images/v101_584.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 209px;
  overflow: hidden;
}
.v101_585 {
  width: 52px;
  height: 21px;
  background: url("../images/v101_585.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_586 {
  width: 52px;
  height: 21px;
  background: url("../images/v101_586.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v101_587 {
  width: 47px;
  height: 15px;
  background: url("../images/v101_587.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.6000000238418579;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v101_588 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.1304347515106201px solid rgba(255,255,255,1);
}
.v101_589 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 12px;
  border: 1.1304347515106201px solid rgba(255,255,255,1);
}
.v101_590 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 20px;
  border: 1.1304347515106201px solid rgba(255,255,255,1);
}
.v101_591 {
  width: 11px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
  border: 1.1304347515106201px solid rgba(255,255,255,1);
}
.v101_592 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 39px;
  border: 1.1304347515106201px solid rgba(255,255,255,1);
}
.v101_593 {
  width: 11px;
  height: 11px;
  background: rgba(66,133,244,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
}
.v101_594 {
  width: 7px;
  height: 7px;
  background: rgba(233,66,53,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 15px;
}
.v101_595 {
  width: 7px;
  height: 7px;
  background: rgba(250,187,5,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 23px;
}
.v101_596 {
  width: 7px;
  height: 10px;
  background: rgba(66,133,244,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 31px;
}
.v101_597 {
  width: 1px;
  height: 10px;
  background: rgba(52,168,83,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 39px;
}
.v101_598 {
  width: 6px;
  height: 7px;
  background: rgba(233,66,53,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 42px;
}
.v101_599 {
  width: 42px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v101_600 {
  width: 38px;
  height: 38px;
  background: rgba(229,227,223,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v101_601 {
  width: 256px;
  height: 256px;
  background: url("../images/v101_601.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 170px;
  overflow: hidden;
}
.v101_602 {
  width: 113px;
  height: 14px;
  background: rgba(245,245,245,1);
  opacity: 0.699999988079071;
  position: absolute;
  top: 236px;
  left: 356px;
  overflow: hidden;
}
.v101_603 {
  width: 102px;
  height: 11px;
  background: url("../images/v101_603.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 237px;
  left: 361px;
  overflow: hidden;
}
.v101_604 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: right;
}
.v101_605 {
  width: 48px;
  height: 14px;
  background: rgba(245,245,245,1);
  opacity: 0.699999988079071;
  position: absolute;
  top: 236px;
  left: 136px;
  overflow: hidden;
}
.v101_606 {
  width: 37px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 236px;
  left: 141px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v101_607 {
  width: 107px;
  height: 14px;
  background: rgba(245,245,245,1);
  opacity: 0.699999988079071;
  position: absolute;
  top: 236px;
  left: 185px;
  overflow: hidden;
}
.v101_608 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 237px;
  left: 190px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: right;
}
.v101_609 {
  width: 60px;
  height: 14px;
  background: rgba(245,245,245,1);
  opacity: 0.699999988079071;
  position: absolute;
  top: 236px;
  left: 294px;
  overflow: hidden;
}
.v101_610 {
  width: 49px;
  height: 11px;
  background: url("../images/v101_610.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 237px;
  left: 299px;
  overflow: hidden;
}
.v101_611 {
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: right;
}
.v101_612 {
  width: 100%;
  height: 72px;
  background: linear-gradient(rgba(0,128,0,1), rgba(67,152,67,1));
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 0px;
  overflow: hidden;
}
.v101_613 {
  width: 146px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 207px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v101_614 {
  width: 206px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 353px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v101_615 {
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 558px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v101_616 {
  width: 48px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 708px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v101_617 {
  width: 36px;
  height: 22px;
  background: url("../images/v101_617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3330px;
  left: 1653px;
  overflow: hidden;
}
.v101_618 {
  width: 36px;
  height: 8px;
  background: url("../images/v101_618.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  overflow: hidden;
}
.v101_619 {
  width: 5px;
  height: 6px;
  background: rgba(0,128,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
}
