:root {
  --benhviendhyd-vnu-edu-vn-roboto-bold-underline-upper-font-family: "Roboto",
    Helvetica;
  --benhviendhyd-vnu-edu-vn-roboto-bold-underline-upper-font-weight: 700;
  --benhviendhyd-vnu-edu-vn-roboto-bold-underline-upper-font-size: 12px;
  --benhviendhyd-vnu-edu-vn-roboto-bold-underline-upper-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-roboto-bold-underline-upper-line-height: 18px;
  --benhviendhyd-vnu-edu-vn-roboto-bold-underline-upper-font-style: normal;
  --benhviendhyd-vnu-edu-vn-roboto-bold-upper-font-family: "Roboto", Helvetica;
  --benhviendhyd-vnu-edu-vn-roboto-bold-upper-font-weight: 700;
  --benhviendhyd-vnu-edu-vn-roboto-bold-upper-font-size: 12px;
  --benhviendhyd-vnu-edu-vn-roboto-bold-upper-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-roboto-bold-upper-line-height: 18px;
  --benhviendhyd-vnu-edu-vn-roboto-bold-upper-font-style: normal;
  --benhviendhyd-vnu-edu-vn-roboto-italic-font-family: "Roboto", Helvetica;
  --benhviendhyd-vnu-edu-vn-roboto-italic-font-weight: 400;
  --benhviendhyd-vnu-edu-vn-roboto-italic-font-size: 13px;
  --benhviendhyd-vnu-edu-vn-roboto-italic-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-roboto-italic-line-height: 19.5px;
  --benhviendhyd-vnu-edu-vn-roboto-italic-font-style: italic;
  --benhviendhyd-vnu-edu-vn-roboto-bold-underline-font-family: "Roboto",
    Helvetica;
  --benhviendhyd-vnu-edu-vn-roboto-bold-underline-font-weight: 700;
  --benhviendhyd-vnu-edu-vn-roboto-bold-underline-font-size: 14px;
  --benhviendhyd-vnu-edu-vn-roboto-bold-underline-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-roboto-bold-underline-line-height: 21px;
  --benhviendhyd-vnu-edu-vn-roboto-bold-underline-font-style: normal;
  --benhviendhyd-vnu-edu-vn-roboto-bold-font-family: "Roboto", Helvetica;
  --benhviendhyd-vnu-edu-vn-roboto-bold-font-weight: 700;
  --benhviendhyd-vnu-edu-vn-roboto-bold-font-size: 14px;
  --benhviendhyd-vnu-edu-vn-roboto-bold-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-roboto-bold-line-height: 18px;
  --benhviendhyd-vnu-edu-vn-roboto-bold-font-style: normal;
  --benhviendhyd-vnu-edu-vn-roboto-italic-underline-font-family: "Roboto",
    Helvetica;
  --benhviendhyd-vnu-edu-vn-roboto-italic-underline-font-weight: 400;
  --benhviendhyd-vnu-edu-vn-roboto-italic-underline-font-size: 13px;
  --benhviendhyd-vnu-edu-vn-roboto-italic-underline-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-roboto-italic-underline-line-height: 19.5px;
  --benhviendhyd-vnu-edu-vn-roboto-italic-underline-font-style: italic;
  --benhviendhyd-vnu-edu-vn-roboto-medium-font-family: "Roboto", Helvetica;
  --benhviendhyd-vnu-edu-vn-roboto-medium-font-weight: 500;
  --benhviendhyd-vnu-edu-vn-roboto-medium-font-size: 14px;
  --benhviendhyd-vnu-edu-vn-roboto-medium-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-roboto-medium-line-height: normal;
  --benhviendhyd-vnu-edu-vn-roboto-medium-font-style: normal;
  --benhviendhyd-vnu-edu-vn-roboto-regular-font-family: "Roboto", Helvetica;
  --benhviendhyd-vnu-edu-vn-roboto-regular-font-weight: 400;
  --benhviendhyd-vnu-edu-vn-roboto-regular-font-size: 16px;
  --benhviendhyd-vnu-edu-vn-roboto-regular-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-roboto-regular-line-height: 24px;
  --benhviendhyd-vnu-edu-vn-roboto-regular-font-style: normal;
  --benhviendhyd-vnu-edu-vn-roboto-regular-underline-font-family: "Roboto",
    Helvetica;
  --benhviendhyd-vnu-edu-vn-roboto-regular-underline-font-weight: 400;
  --benhviendhyd-vnu-edu-vn-roboto-regular-underline-font-size: 15px;
  --benhviendhyd-vnu-edu-vn-roboto-regular-underline-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-roboto-regular-underline-line-height: 22.5px;
  --benhviendhyd-vnu-edu-vn-roboto-regular-underline-font-style: normal;
  --benhviendhyd-vnu-edu-vn-inter-bold-font-family: "Inter", Helvetica;
  --benhviendhyd-vnu-edu-vn-inter-bold-font-weight: 700;
  --benhviendhyd-vnu-edu-vn-inter-bold-font-size: 18.75px;
  --benhviendhyd-vnu-edu-vn-inter-bold-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-inter-bold-line-height: 30px;
  --benhviendhyd-vnu-edu-vn-inter-bold-font-style: normal;
  --benhviendhyd-vnu-edu-vn-inter-bold-underline-upper-font-family: "Inter",
    Helvetica;
  --benhviendhyd-vnu-edu-vn-inter-bold-underline-upper-font-weight: 700;
  --benhviendhyd-vnu-edu-vn-inter-bold-underline-upper-font-size: 25.703125px;
  --benhviendhyd-vnu-edu-vn-inter-bold-underline-upper-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-inter-bold-underline-upper-line-height: 42px;
  --benhviendhyd-vnu-edu-vn-inter-bold-underline-upper-font-style: normal;
  --benhviendhyd-vnu-edu-vn-inter-bold-upper-font-family: "Inter", Helvetica;
  --benhviendhyd-vnu-edu-vn-inter-bold-upper-font-weight: 700;
  --benhviendhyd-vnu-edu-vn-inter-bold-upper-font-size: 26.46875px;
  --benhviendhyd-vnu-edu-vn-inter-bold-upper-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-inter-bold-upper-line-height: 42px;
  --benhviendhyd-vnu-edu-vn-inter-bold-upper-font-style: normal;
  --benhviendhyd-vnu-edu-vn-inter-regular-font-family: "Inter", Helvetica;
  --benhviendhyd-vnu-edu-vn-inter-regular-font-weight: 400;
  --benhviendhyd-vnu-edu-vn-inter-regular-font-size: 18px;
  --benhviendhyd-vnu-edu-vn-inter-regular-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-inter-regular-line-height: 18px;
  --benhviendhyd-vnu-edu-vn-inter-regular-font-style: normal;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-underline-upper-font-family: "Open Sans",
    Helvetica;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-underline-upper-font-weight: 700;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-underline-upper-font-size: 13px;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-underline-upper-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-underline-upper-line-height: 19.5px;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-underline-upper-font-style: normal;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-upper-font-family: "Open Sans",
    Helvetica;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-upper-font-weight: 700;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-upper-font-size: 13px;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-upper-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-upper-line-height: 19.5px;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-upper-font-style: normal;
  --benhviendhyd-vnu-edu-vn-open-sans-italic-font-family: "Open Sans", Helvetica;
  --benhviendhyd-vnu-edu-vn-open-sans-italic-font-weight: 400;
  --benhviendhyd-vnu-edu-vn-open-sans-italic-font-size: 14px;
  --benhviendhyd-vnu-edu-vn-open-sans-italic-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-open-sans-italic-line-height: 21px;
  --benhviendhyd-vnu-edu-vn-open-sans-italic-font-style: italic;
  --benhviendhyd-vnu-edu-vn-open-sans-light-font-family: "Open Sans", Helvetica;
  --benhviendhyd-vnu-edu-vn-open-sans-light-font-weight: 300;
  --benhviendhyd-vnu-edu-vn-open-sans-light-font-size: 13px;
  --benhviendhyd-vnu-edu-vn-open-sans-light-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-open-sans-light-line-height: 19.5px;
  --benhviendhyd-vnu-edu-vn-open-sans-light-font-style: normal;
  --benhviendhyd-vnu-edu-vn-open-sans-light-underline-font-family: "Open Sans",
    Helvetica;
  --benhviendhyd-vnu-edu-vn-open-sans-light-underline-font-weight: 300;
  --benhviendhyd-vnu-edu-vn-open-sans-light-underline-font-size: 13px;
  --benhviendhyd-vnu-edu-vn-open-sans-light-underline-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-open-sans-light-underline-line-height: 19.5px;
  --benhviendhyd-vnu-edu-vn-open-sans-light-underline-font-style: normal;
  --benhviendhyd-vnu-edu-vn-open-sans-regular-font-family: "Open Sans",
    Helvetica;
  --benhviendhyd-vnu-edu-vn-open-sans-regular-font-weight: 400;
  --benhviendhyd-vnu-edu-vn-open-sans-regular-font-size: 14.420000076293945px;
  --benhviendhyd-vnu-edu-vn-open-sans-regular-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-open-sans-regular-line-height: 21px;
  --benhviendhyd-vnu-edu-vn-open-sans-regular-font-style: normal;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-font-family: "Open Sans", Helvetica;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-font-weight: 700;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-font-size: 16px;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-line-height: 24px;
  --benhviendhyd-vnu-edu-vn-open-sans-bold-font-style: normal;
  --benhviendhyd-vnu-edu-vn-semantic-button-font-family: "Roboto", Helvetica;
  --benhviendhyd-vnu-edu-vn-semantic-button-font-weight: 400;
  --benhviendhyd-vnu-edu-vn-semantic-button-font-size: 10px;
  --benhviendhyd-vnu-edu-vn-semantic-button-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-semantic-button-line-height: 14px;
  --benhviendhyd-vnu-edu-vn-semantic-button-font-style: normal;
  --benhviendhyd-vnu-edu-vn-semantic-heading-5-font-family: "Roboto", Helvetica;
  --benhviendhyd-vnu-edu-vn-semantic-heading-5-font-weight: 700;
  --benhviendhyd-vnu-edu-vn-semantic-heading-5-font-size: 16px;
  --benhviendhyd-vnu-edu-vn-semantic-heading-5-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-semantic-heading-5-line-height: 18px;
  --benhviendhyd-vnu-edu-vn-semantic-heading-5-font-style: normal;
  --benhviendhyd-vnu-edu-vn-semantic-item-font-family: "Open Sans", Helvetica;
  --benhviendhyd-vnu-edu-vn-semantic-item-font-weight: 300;
  --benhviendhyd-vnu-edu-vn-semantic-item-font-size: 13px;
  --benhviendhyd-vnu-edu-vn-semantic-item-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-semantic-item-line-height: 19.5px;
  --benhviendhyd-vnu-edu-vn-semantic-item-font-style: normal;
  --benhviendhyd-vnu-edu-vn-semantic-link-font-family: "Roboto", Helvetica;
  --benhviendhyd-vnu-edu-vn-semantic-link-font-weight: 400;
  --benhviendhyd-vnu-edu-vn-semantic-link-font-size: 13px;
  --benhviendhyd-vnu-edu-vn-semantic-link-letter-spacing: 0px;
  --benhviendhyd-vnu-edu-vn-semantic-link-line-height: 18px;
  --benhviendhyd-vnu-edu-vn-semantic-link-font-style: normal;
}